body {
    background-color: white;
    font-family: Arial, sans-serif;
}

.hero {
    background-color: #1F2937;
    color: white;
    }

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .headerLogoText{
    font-size: 50px;
    color: #F9FAF8;
}

.buttonColor {
    background-color: #3882F6;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
}

.InformationHeaderText {
    color: #1F2937;
    font-size: 36px;
}


.QuoteSectionBackgroundColor {
    font-size: 36px;
    font-style:italic;
    font-weight: 300;
    color: 1F2937;
    background-color:  #E5E7EB;
}