*{
margin: 0;
padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
}

/* Top Part */
.first-section{
    background-color: #1f2937;
}

.navbar{
    display: flex;
    flex-direction: row;
}

.navbar-left, .navbar-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header-link{
    font-size: 18px;
    color:#E5E7EB;
    margin: 10px;
}


ul {
    display: flex;
    flex-direction:row;
    list-style: none;
}


a {
    color:#E5E7EB;
    text-decoration: none;
}





